<p-dialog [closable]="true" [(visible)]="showCart" [modal]="true" [style]="{width: '80vw', height: '90vh'}"
    [draggable]="false" [resizable]="false" [maximizable]="true" header="Your Cart" [modal]="true"
    styleClass="surface-section p-fluid" [contentStyle]="{'padding': '0px'}" (onHide)="showCart = false">
    <ng-template pTemplate="content">
        <h5>Total Items: {{service.cart.length}}</h5>
        <app-view-products [products]="service.cart" [isCartView]="true">

        </app-view-products>
    </ng-template>
</p-dialog>

<div class="d-flex">
    <p-menubar class="w-100" [model]="items"></p-menubar>
    <p-button (onClick)="showCart = true" [disabled]="service.loggedIn == false" icon="pi pi-shopping-cart"
        badge="{{service.cart.length}}"></p-button>
</div>
<router-outlet></router-outlet>