<h3 class="d-flex justify-content-center m-3">Your Store(s)</h3>

<app-view-stores [objects]="service.stores"
    [fields]="['storeName', 'storeId', 'city', 'country', 'description', 'postalCode', 'province', 'streetAddress1', 'streetAddress2']">
</app-view-stores>

<h3 class="d-flex justify-content-center m-3">Your Store(s) Orders</h3>

<div *ngFor="let store of service.stores; let i = index">
    <h5 class="d-flex justify-content-center m-3">{{store.storeId}}</h5>
    <app-view-stores [objects]="storeOrders[i]" [fields]="['datePlaced', 'amount']"></app-view-stores>
</div>