<p-toast></p-toast>

<p-dialog [closable]="true" [(visible)]="showMoreInfoOnProduct" [modal]="true" [style]="{width: '80vw', height: '90vh'}"
    [draggable]="false" [resizable]="false" [maximizable]="true" header="Reviews" [modal]="true"
    styleClass="surface-section p-fluid" [contentStyle]="{'padding': '0px'}">
    <ng-template pTemplate="content">
        <div *ngFor="let review of productReviews;" class="grid">
            <p-rating [(ngModel)]="review.rating" class="d-flex justify-content-center" [readonly]="true"
                [cancel]="false"></p-rating>
            <span class="p-float-label m-4">
                <input [(ngModel)]="review.message" type="text" pInputText readonly="true">
                <label>Comment</label>
            </span>
        </div>
    </ng-template>
</p-dialog>

<div *ngIf="isCartView" class="d-flex justify-content-between align-items-center m-3">
    <h5>Total Items: {{getQuantityTotal()}}</h5>
    <h5>{{getTotalPrice() | currency}}</h5>
    <button (click)="buyCart()" pButton pRipple icon="pi pi-check" class="p-button-success ms-2" label="Buy"
        [style]="{'width': '150px'}"></button>
</div>

<div class="card">
    <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
        [sortOrder]="sortOrder" layout="grid">
        <ng-template pTemplate="header">
            <div class="d-flex justify-content-between">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
                    (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                    
                <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input [(ngModel)]="searchString" type="search" pInputText placeholder="Search by Name"
                        (input)="dv.filter(searchString)">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="listItem">
            <div class="col-12">
                <div class="product-list-item">
                    <div class="product-list-detail" (click)="openProduct(product)">
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description">{{product.brand}}</div>
                        <div *ngIf="isCartView">Quantity: {{product.quantity}}</div>
                        <p-rating *ngIf="!isCartView" [ngModel]="product.avgRating" [readonly]="true" [cancel]="false"></p-rating>
                        <i class="pi pi-tag product-category-icon"></i><span
                            class="product-category">{{product.category}}</span>
                    </div>
                    <div class="product-list-action">
                        <span class="product-price">${{product.price}}</span>
                        <p-button *ngIf="isAddProduct" label="Add Product">

                        </p-button>
                        <p-button *ngIf="!isCartView" (onClick)="addToCart(product)" icon="pi pi-shopping-cart"
                            [disabled]="product.quantity === 0" label="Add to cart">
                        </p-button>
                        <div class="d-flex justify-content-end">
                            <button *ngIf="isCartView" (click)="deleteFromCart(product)" pButton pRipple
                                icon="pi pi-trash" class="p-button-danger" [style]="{'width': '50px'}"></button>
                        </div>
                        <p-tag *ngIf="!isCartView" class="d-flex justify-content-end"
                            severity="{{(product.quantity >= 50 ? 'success' : product.quantity > 0 ? 'warning' : 'danger')}}">
                            {{product.quantity >= 50 ? 'In Stock' : product.quantity > 0 ? 'Low Stock' : 'Out Of Stock'}}
                        </p-tag>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{product.category}}</span>
                        </div>
                        <p-tag *ngIf="!isCartView"
                        severity="{{(product.quantity >= 50 ? 'success' : product.quantity > 0 ? 'warning' : 'danger')}}">
                        {{product.quantity >= 50 ? 'In Stock' : product.quantity > 0 ? 'Low Stock' : 'Out Of Stock'}}
                        </p-tag>
                    </div>
                    <div class="product-grid-item-content">
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description">{{product.brand}}</div>
                        <p-rating *ngIf="!isCartView" [ngModel]="product.avgRating" [readonly]="true" [cancel]="false"></p-rating>
                        <div style="display: flex; justify-content: center;">
                          <div style="width: 200px;">
                            <div *ngIf="isCartView">Quantity: {{product.quantity}}</div>
                            <button *ngIf="!isCartView" class="p-button mx-2" style="justify-content: center;" (click)="openProduct(product)">View Reviews</button>
                          </div>
                        </div>
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">${{product.price}}</span>
                        <div class="w-50 d-flex justify-content-end">
                            <button *ngIf="isCartView" (click)="deleteFromCart(product)" pButton pRipple
                                icon="pi pi-trash" class="p-button-danger mx-2" [style]="{'width': '50px'}"></button>
                            <p-button *ngIf="!isCartView" (onClick)="addToCart(product)" icon="pi pi-shopping-cart"
                                [disabled]="product.quantity === 0" class="mx-2" [style]="{'width': '50px'}">
                            </p-button>
                            <p-button *ngIf="isAddProduct" (onClick)="addProductToStore(product)" label="Add Product">

                            </p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
